body {
    background-color: #000;
    color: white;
    font-family: sans-serif;
}

p {
    color: white;
}

h1 {
    font-size: 70px;
    color: pink;
}

div {
    background: pink;
    width: 500px;
}

span {
    color: yellow;
    font-size: 40px;

}

a {
    color: white;
}

#top-section {
    background: blue;
}

.intro {
    font-size: 70px;
}

.highlight {
    background: blue;
}