
.box {
    background:pink;

    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;

    margin-bottom: 0px;

}

p {
    margin-bottom: 0px;
    line-height: 40px;
    font-size: 40px;
    font-weight: bold;


    text-align: left;
}


p, h1 {
    color:green;
}


.body-text {
    background-color: #79acd1;
    padding: 50px;
    
}

.body-text p {
    color: white;
}

.body-text a {
    color:green;
}

.important-link,
.body-text .important-link {
    color:yellow;
}