
.box {
    background:pink;
    width: 300px;
    margin: 100px;
    padding:100px;
    background-image: url(../images/lakshay.jpg);
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

